<%- include("partials/header") %>

<div class="ui container text main segment">
    <h2>Edit Anime</h2>
    <form action="/animes/<%= anime._id %>?_method=PUT" method="POST" class="ui form">
        <div class="field">
            <label>Edit Title</label>
            <input type="text" name="anime[title]" value="<%= anime.title %>">
        </div>
        <div class="field">
            <label>Edit Image</label>
            <input type="text" name="anime[image]" value="<%= anime.image %>">
        </div>
        <div class="field">
            <label>Edit Description</label>
            <textarea rows="10" cols="100" name="anime[body]"><%= anime.body %></textarea> 
        </div>
        <div class="field">
            <label>Edit Rating</label>
            <input type="number" name="anime[rating]" value="<%= anime.rating %>" min="1" max="10">
        </div>
        <input type="submit" value="Submit" class="ui button blue">
    </form>
</div>

<%- include("partials/footer") %>