<%- include("partials/header") %>


<div class="ui container main text">
    <h1>Anime App</h1>
    <div class="ui top attached segment">
        <div class="ui huge header">Animes</div>
        <div class="ui items divided">
            <% animes.forEach(anime => { %>
                <div class="item">
                    <div class="image">
                        <img src="<%= anime.image %>" alt="">
                    </div>
                    <div class="content">
                        <a href="/animes/<%= anime._id %>" class="header">
                            <%= anime.title %>
                        </a>
                        <div class="meta">
                            <span><%= anime.rating %></span>
                        </div>
                        <div class="description">
                            <p><%= anime.body.substring(0, 50) %>...</p>
                        </div>
                        <div class="extra">
                            <a href="/animes/<%= anime._id %>" class="ui button basic purple big">Read more <i class="icon chevron right"></i></a>
                        </div>
                    </div>
    
                </div>
            <% }); %>
        </div>
    </div>
    
</div>

<%- include("partials/footer") %>