<%- include("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <a class="btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(campground => { %>
            <div class="col-md-3 col-sm-6">
                <div class="card mb-4">
                    <img src="<%= campground.image %>" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

</div>


<%- include("../partials/footer") %>